---
layout: default
xsqt: true
---

<div class="col-md-8">
    <h1>一百八十度</h1>
    <br>
<p>历史是一个任人打扮的小姑娘，历史人物也是。每一个历史评价的背后都隐藏着政治目的，背后都隐含着实用主义的逻辑。本栏目写近代以来历史评价被翻转的历史人物。</p>
<hr>
    {% for post in site.posts %}
        {% if post.ybb %}
            <h2>
                <a class="title" href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>
            </h2>
            <p><span class="glyphicon glyphicon-time meta"></span> {{ post.date | date: "%F" }}</p>
            <p>{{post.excerpt}}</p>
            <a  href="{{ post.url | prepend: site.url }}">Read More </a>

            <hr>

        {% endif %}
   {% endfor %}

</div>


<!-- advertising board -->
{% include adboard.html %}