
<!-- Blog Sidebar Widgets Column -->
<div class="col-md-4" id="adboard">
        <div id="adwrap">
        		<h3>一百八十度</h3>
        		<p>历史是一个任人打扮的小姑娘，历史人物也是。每一个历史评价的背后都隐藏着政治目的，背后都隐含着实用主义的逻辑。本栏目写近代以来历史评价被翻转的历史人物。</p>
    	        <img class=""  src="{{ "/assets/adimg/1.jpg" | prepend: site.url }}">  
    	        <br><br>
    	        <!-- <img class=""  src="{{ "/assets/adimg/2.jpg" | prepend: site.url }}">  
    	        <br><br> -->
    	        <img class=""  src="{{ "/assets/adimg/0.jpg" | prepend: site.url }}"> 
        </div>
        
</div>