
<!-- Blog Sidebar Widgets Column -->
<div class="col-md-4" id="adboard">
        <div id="adwrap">
    	        <img class=""  src="{{ "/assets/adimg/1.jpg" | prepend: site.url }}">  
    	        <br><br>
    	        <img class=""  src="{{ "/assets/adimg/2.jpg" | prepend: site.url }}">  
    	        <br><br>
    	        <img class=""  src="{{ "/assets/adimg/0.jpg" | prepend: site.url }}"> 
        </div>
        <br><br>
        <p>
        	友情链接
        	<br><br>
        	<a href="http://shihuochihuo.top">识货吃货</a>&nbsp;&nbsp;&nbsp; <a href="http://www.qmall8.com">去美商城</a>&nbsp;&nbsp;&nbsp; 
        </p>

        
</div>